<div>
	<img id="dennis" src="../images/dennis.jpg" alt="Dennis Rölleke">
</div>
<p class="anfrageText">
Hi! Ich bin Dennis, dein persönlicher insurio Versicherungs-Berater.
Darf ich dir per Mail oder Telefon weitere Informationen oder sogar
eine individuelle Offerte zukommen lassen?
</p>

<hr>

<h4>Ja, bitte nehmt Kontakt bzgl.<br>meiner Versicherungen mit mir auf:</h4>

<form name="anfrage" ng-submit="sendAnfrage()">
	<input type="radio" name="infos"> Schickt mir allgemeine Infos<br>
	<input type="radio" name="offerte"> Schickt mir eine Offerte
</form>

