<div id="loading" ng-show="hideLoading">
	<div class="windows8" id="loading-image">
		<div class="wBall" id="wBall_1">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_2">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_3">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_4">
			<div class="wInnerBall"></div>
		</div>
		<div class="wBall" id="wBall_5">
			<div class="wInnerBall"></div>
		</div>
	</div>
	<div class="loadingText"><p>Deine Anfrage<br>wird bearbeitet...</p></div>
</div>

<div ng-hide="hideLoading">
	<div class="mustHaves">
		<h2>Must have's</h2>
		<div ng-repeat="must in mustPrint" class="item">
			<h3><i class="fa {{must.icon}}"></i> {{must.name}}</h3>
			<p>{{must.text}}</p>
			<p class="mehr"><i class="fa fa-angle-down"></i>&nbsp; mehr Infos zur {{must.name}}</p>
		</div>
	</div>

	<div class="spacer"></div>

	<div class="niceToHaves">
		<h2>Nice to have's</h2>
		<div ng-repeat="nice in nicePrint" class="item">
			<h3><i class="fa {{nice.icon}}"></i> {{nice.name}}</h3>
			<p>{{nice.text}}</p>
			<p class="mehr"><i class="fa fa-angle-down"></i>&nbsp; mehr Infos zur {{nice.name}}</p>
		</div>
	</div>
<br>
		<a class="button buttonLeft" ng-click="goBack()" title="Zurück zur Übersicht"><i class="fa fa-angle-left"></i> &nbsp;Zurück</a>
		<a class="button buttonRight" ng-click="anfrage()" title="Offerte stellen"><i class="fa fa-envelope-o"></i> &nbsp;Angebote einholen</a>
		<div class="clearfix"></div>
	</div>
