
<form name="userForm" ng-submit="submitTesting()" class="form">
  <select ng-model="user.age" required>
    <option value="">Wie alt bist du?</option>
    <option value="16-20">16 – 20</option>
    <option value="21-30">21 – 30</option>
    <option value="31-50">31 – 50</option>
    <option value="51-60">51 – 60</option>
    <option value="61-99">61 – 99</option>
  </select>
  <br>
  <select ng-model="user.work" required>
    <option value="">Dein Berufsstand</option>
    <option value="1">Schüler</option>
    <option value="2">Student</option>
    <option value="3">Angestellter</option>
    <option value="4">Selbstständig</option>
    <option value="5">Rentner</option>
  </select>
  <br>
  <select ng-model="user.life" required>
    <option value="">Deine Lebenssituation</option>
    <option value="1">Ledig, keine Kinder</option>
    <option value="2">Ledig, Kind / Kinder</option>
    <option value="3">Verheiratet, keine Kinder</option>
    <option value="4">Verheiratet, Kind / Kinder</option>
    <option value="5">Getrennt Lebend</option>
    <option value="6">Verwitwet</option>
  </select>
  <br>
  <select ng-model="user.risk" required>
    <option value="">Wie risikofreudig bist du?</option>
    <option value="1">Ich habe bock auf Risiko</option>
    <option value="2">Naja, geht so...</option>
    <option value="3">Auf keinen Fall ein Risiko!</option>
  </select>
  <br>
  <select ng-model="user.vehicle" required>
    <option value="">Besitzt du ein Fahrzeug?</option>
    <option value="1">Nein</option>
    <option value="2">Klar</option>
  </select>
  <input ng-disabled="userForm.$invalid" type="submit" value="Jetzt testen">
</form>

{{user.age}}